<footer style="background-color: var(--primary)">
  <div class="container mt-0 py-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-4 ">
          <a href="#">
            <h2 class="brand-name text-white">Grabitt</h2>
          </a>
          <span class="text-white my-2 fs-5"><q>Dreams come true.</q></span>
          <p class="text-white">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore
            molestias excepturi ab quia, sint magnam alias quisquam, velit atque
            ipsa dignissimos nisi fugiat nobis nostrum provident. Iure
            consectetur perspiciatis eaque.
          </p>
          <div class="row">
            <div class="d-flex align-items-center my-2">
              <a href="#"><i class="fas fa-envelope bg-white rounded-circle p-2 fs-4 text-dark"></i><span
                  class="text-white p-2 fw-bolder description ">grabitt@grabitt.com</span></a>
              <a href="#"><i class="fas fa-phone bg-white rounded-circle p-2 fs-4 text-dark"></i><span
                  class="text-white p-2 fw-bolder description ">+91-987654321</span></a>
            </div>
          </div>
        </div>

        <div class="d-none col-lg-4 d-lg-flex align-items-center flex-column">
          <h3 class="text-white" id="title_underline">Important Links</h3>
          <ul class="list-group ">
            <li class="list-group-item"><a href="/" class="text-white">Home</a></li>
            <li class="list-group-item"><a href="/subject" class="text-white">Tests</a></li>
            <li class="list-group-item"><a href="/privacy" class="text-white">Privacy Policy</a></li>
            <!-- <li class="list-group-item"><a href="#" class="text-white">About Us</a></li> -->
            <li class="list-group-item"><a href="/contact-us" class="text-white">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-4  ">
          <div class="d-flex justify-content-center">
            <img src="svg/social-media.svg" class="p-4 pt-0" style="width: 90%;" alt="">
          </div>
          <div class="d-flex justify-content-evenly px-5">
            <a href="#"><i class="fa-brands fa-facebook bg-white rounded-circle p-2 fs-4 text-dark"></i></a>
            <a href="#"><i class="fa-brands fa-instagram bg-white rounded-circle p-2 fs-4 text-dark"></i></a>
            <a href="#"><i class="fa-brands fa-twitter bg-white rounded-circle p-2 fs-4 text-dark"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin-in bg-white rounded-circle p-2 fs-4 text-dark"></i></a>
          </div>
        </div>
        <div class="col-12 d-lg-none  mt-4 ">
          <h3 class="text-white d-flex flex-column align-items-center " id="title_underline"
            style="display: inline-grid;">Important Links</h3>
          <ul class="list-group  d-flex flex-row justify-content-center">
            <li class="list-group-item"><a href="/" class="text-white">Home</a></li>
            <li class="list-group-item"><a href="/subject" class="text-white">Tests</a></li>
            <li class="list-group-item"><a href="/privacy" class="text-white">Privacy Policy</a></li>
            <!-- <li class="list-group-item"><a href="#" class="text-white">About Us</a></li> -->
            <li class="list-group-item"><a href="/contact-us" class="text-white">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>