<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-light w-100">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <!-- <h2 class="logo">GrabItt</h2> -->
      <img src="/svg/logo.svg" alt="logo" width="120">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo01">
      <ul class="navbar-nav ms-auto text-center align-items-center">
        <li class="nav-item px-3">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="/subject">
            Subjects
          </a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="/#features">
            Features
          </a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="/contact-us">Contact Us</a>
        </li>
        <li class="nav-item px-3">
          <% if ( data.isLoggedIn===true) { %>
            <a class="button btn px-3" href="/dashboard">
              Dashboard
            </a>
            <% } else { %>
              <a class="button btn px-3" href="/login">
                Login
              </a>
              <% } %>

        </li>
      </ul>
    </div>
  </div>
</nav>