<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Reset Password
    </title>

    <%- include('./partials/styles'); %>
        <!-- External css-->
        <link rel="stylesheet" href="/css/auth.css">

</head>

<body>
    <div class="reset-box">
        <div class="content">
                <img src="/images/rocket.png" alt="" class="mb-4">

                <h2>Reset Password</h2>

                <form action="" method="post">
                    <div class="field">
                        <i class="fa-solid fa-at"></i>
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="field">
                        <i class="fa-solid fa-at"></i>
                        <input type="password" name="confirm_password" placeholder=" Confirm Password" required>
                    </div>

                    <input type="submit" class="submit-btn" value="Send" style="background-color: #d53e4c;">
                </form>
               
        </div>


    </div>
</body>

</html>