@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:wght@300;700&family=Poppins:wght@400;600;700&display=swap");
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --danger: #ff1818;
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show-navbar {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}


.hero-container{
    /* background: #8E2DE2;   
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  
background: linear-gradient(to right, #4A00E0, #8E2DE2);  */

    background-color: #8EC5FC;
    /* background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
    
    background-image: linear-gradient(62deg, #b1d8fa 0%,#dbf2f2 0%, #ffe0e6 100%);
    
}
.bg-hover:hover{
    background-image: radial-gradient( circle 820px at 9.1% 22.8%,  rgba(216,247,229,1) 0%, rgba(249,238,238,1) 74.7% );
}

.btn-grad {background-image: linear-gradient(to right, #393f93 0%, #44126d  51%, #393f93  100%)}
.btn-grad {
   margin: 10px;
   padding: 10px 20px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
.border-short {
    position: relative;
    display: inline-block;
}

.border-short::after {
    content: "";
    display: block;
    width: 40%;
    height: 1.5px;
    background: #7f0000;
    margin: 0 auto;
    border-radius: 3px;
}

.table_banner{
    padding: 10px 15px;
    background-color: rgb(245, 245, 245);
}
/* notes */
.todo-box-wrap {
    padding-top: 15px;
}
.todo-list {
    width: auto;
    height: 310px;
    list-style: none;
    margin: 0;
    padding: 0 0 0 20px;
}
.todo-list .todo-item {
    padding: 0px 15px;
    cursor: pointer;
}
.todo-list .checkbox,
.radio {
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 27px;
    margin-top: 0;
    margin-bottom: 0;
}

.checkbox,
.radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
li.todo-item input[type="checkbox"]:checked+label {
    text-decoration: line-through;
}
input[type="checkbox"]:checked+label:before {
    background-color: #2c3e50;
}
input[type="checkbox"]+label:before {
    background-color: #f1f1f1;
    padding: 10px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    -webkit-transition: all 320ms ease-in-out;
    transition: all 320ms ease-in-out;
}
input[type="checkbox"]:checked+label:after {
    content: "\2714";
    font-size: 14px;
    position: absolute;
    top: 1px;
    left: 4px;
    color: #fff;
}
input[type="checkbox"]+label {
    position: relative;
    padding-left: 35px;
    display: inline-block;
    width: 100%;
}
input[type="checkbox"] {
    display: none;
}
@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show-navbar {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}